.input-slider {
  display: none !important;
}

.input-slider,
.input-slider:after,
.input-slider:before,
.input-slider *,
.input-slider *:after,
.input-slider *:before,
.input-slider + .slider {
  box-sizing: border-box;
}

.input-slider + .slider {
  width: 2.8rem;
  height: 1.2rem;
  cursor: pointer;
  user-select: none;
}

.input-slider + .slider:after,
.input-slider + .slider:before {
  position: relative;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
}

.input-slider + .slider:after {
  left: 0;
}

.input-slider + .slider:before {
  display: none;
}

.input-slider:checked + .slider:after {
  left: 50%;
}

.input-slider + .slider {
  padding: 2px;
  transition: all 0.2s ease;
  background: transparent;
  border: 2px solid rgb(229, 229, 229);
  border-radius: 2rem;
}

.input-slider + .slider:after {
  transition: all 0.2s ease;
  background: rgb(229, 229, 229);
  border-radius: 1rem;
}

.input-slider:checked + .slider {
  border: 2px solid rgb(20, 145, 155);
}

.input-slider:checked + .slider:after {
  left: 50%;
  background: rgb(20, 145, 155);
}
