.options {
    display: flex;
    flex-direction: row;
    flex-flow:  space-between;
    justify-content: space-between;
}

.options > .column {
    margin: 0.5rem;
}

.column {
    flex: 1 1 0;
}

.hideable {
    transition: all 0.375s ease-in;
}

.hideable.hidden {
    overflow: hidden;
    opacity: 0;
    transition: all 0.375s ease-out;
    line-height: 0;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
}
