:root{
    /**********/
    /* ### Theme Colors ### */
    /* Note: #14919b ! since this is used frequently, you could call this a theme color var */
    --theme_ashblu: #14919b; /* used in var --rad_label_i-chk */
    /* Note: #E5E5E5 ! is used frequently too */ 
    --theme_ashmercury: #E5E5E5; /* used in --feature_border */
    --theme_ashash: #333333;
    --theme_ashblu_darker: #0e7c86; /* DARKER THEME COLOR */
    --theme_ashblu_dark: #30919c; /* DARKER THAN THEME COLOR, LIGHTER THAN DARKER THEME COLOR */

    /* ### SRC/ONBOARDING ### */
    /* onboarding.css */
    --body_bg: #FAFAFA;
    --feature_bg: #FFF; /* can be used for rad label span / --rad_label_span */
    --feature_border: var(--theme_ashmercury); /* can be used for rad label input disabled / --rad_label_i-dis */

    /* ### SRC/OPTIONS ### */
    /* radio.css */
    --rad_label_i-chk: var(--theme_ashblu); /* can be used for rad label span box shadow / --rad_label_span_bs */
    --rad_label_i-dis: var(--feature_border);
    --rad_label_span: var(--feature_bg);
    --rad_label_span_bs: var(--rad_label_i-chk);

    /* toggle.css */
    /* Created Theme Variables */
    /* theme: _ashblue / _ashmercury */
    
    /**********/
    /* ### SRC/SHARED ### */
    /* Created Theme Variables */
    /* theme: _ashash / _ashblu_darker / _ashblu_dark */
}

body {
    background-color: var(--body_bg);
}

img .inline {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    vertical-align: text-bottom;
}

h4 {
    min-width: 100%;
    margin-bottom: 1.2rem;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 60rem;
}

.feature-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: justify-content;
}

.feature {
    background-color: var(--feature_bg);
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding: 1rem;
    margin: 1.5rem 0;
    border: var(--feature_border) 2px solid;
    border-radius: 6px;
}

.feature img {
    display: inline-flex;
    margin-right: 2rem;
}

img {
    max-width: 16rem;
}

p {
    margin-bottom: 1rem;
}

p:last-of-type {
    margin-bottom: 0;
}
