:root{
    /* onboarding.css */
    --body_bg: #FAFAFA;
    --feature_bg: #FFF;
    --feature_border: #E5E5E5;
}

body {
    background-color: var(--body_bg);
}

img .inline {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    vertical-align: text-bottom;
}

h4 {
    min-width: 100%;
    margin-bottom: 1.2rem;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 60rem;
}

.feature-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: justify-content;
}

.feature {
    background-color: var(--feature_bg);
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding: 1rem;
    margin: 1.5rem 0;
    border: var(--feature_border) 2px solid;
    border-radius: 6px;
}

.feature img {
    display: inline-flex;
    margin-right: 2rem;
}

img {
    max-width: 16rem;
}

p {
    margin-bottom: 1rem;
}

p:last-of-type {
    margin-bottom: 0;
}
